<%- include("partials/header") -%>

  <div class="jumbotron jumbotron-fluid p-5 mb-4 bg-light rounded-3 center">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Features of FoodVerse</h1>
      <p class="col-sm-16 fs-4">So what do we offer?</p>
      <p class="col-sm-16 fs-4">Everything you need from the list of ingredients to cooking the food step-by-step!</p>
    </div>
  </div>



<%- include("partials/footer") -%>
